// set page background colors
@mixin page-background($base-color, $accent-color: null){
  @if$accent-color{
    background-size: 350%;
    background-image: radial-gradient($accent-color, $base-color);
    animation: gradient-fade 10s infinite alternate;
  }
  background-color: $base-color;
}

// set container color
@mixin container-alternating-color($color, $base: 6%){
  &:nth-of-type(even){ background-color: darken($color, $base); }
}
