@import "global/_style_elements.scss";
@import "mixins/font_helpers";

// include local fonts
@include set-font-face('KingBasil', 'King-Basil-Lite');

@mixin set-link-color($color){
  a:not(.skip-link-style){
    &, html.no-touch &:hover, &:active, &:visited{
      color: $color;
    }
  }
}

html, body{ width: 100%; height: 100%; }

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

h1, h2, h3, h4{
  font-family: $headertext;
}

h1, h2, h3{
  font-size: 1.9em;
  display: inline-block;
}

h4, h5{
  font-size: 1.3em;
  line-height: 1.5em;
}

h6{ font-size: 1em; }

h3{ margin: 0 10px 0 0; }

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  cursor: pointer;
  &, html.no-touch &:hover, &:active, &:visited{ color: $day-text; }
}

p, li{
  font-size: 0.8em;
  font-weight: 200;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  display: block;
}

img{ max-width: 100%; }

body{
  &.day{
    @include set-link-color($day-accent-text);
    &.afternoon{ @include set-link-color($afternoon-accent-text); }
  }

  &.night{
    @include set-link-color($night-accent-text);
    &.evening{ @include set-link-color($evening-accent-text); }
    &.midnight{ @include set-link-color($midnight-accent-text); }
  }
}
