// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "base.scss";
@import "global/_breakpoints.scss";
@import "global/_style_elements.scss";
@import "nav.scss";
@import "footer.scss";
@import "home.scss";
@import "portfolio.scss";

body{
  margin: 0;
  color: $day-text;
  font-family: $bodytext;
  font-size: 16px;
  background-color: #222;
}

.night .header.nav{
  &, .title{
    color: $night-text;
  }
  .fa{ color: rgba(255, 255, 255, 0.75); }
}

#content{
  opacity: 0;
  transition: opacity 800ms;
  body.loaded &{
    opacity: 1;
    .main-container{ opacity: 1; }
  }
}

h2:not(.project){
  margin-bottom: -2px;
  line-height: 1.1em;
  padding-bottom: 12px;
}

h1{
  &.hide{
    opacity: 0;
    height: 0;
    margin: 0;
    display: block;
  }
  .accent{ color: $day-text; }
}

.bg-fill{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-container{
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 800ms 500ms;
}

.content-container{
  position: relative;
  &:not(.skip-padding){ padding: $side-padding; }
}

.header{
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  background-color: transparent;
  transition: position 200ms;

  .title{
    font-size: 1.25em;
  }
  h2{ font-weight: 200; }
}

// font awesome icons
.header, footer{
  .fa{
    display: block;
    position: absolute;
    color: $day-text;
    width: 100%;
    height: 100%;
    font-size: 1.25em;
    &:before{
      position: absolute;
      top: 16%;
      left: 50%;
      transform: translate(-50%);
    }
    &.fa-file-text{
      top: 6%;
      font-size: 1.05em;
    }
  }
}

.connect{
  display: block;
  width: 100%;
  a{ display: inline-block; }
}

.icons{
  $size: 40px;

  display: inline-block;
  position: relative;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  transition: all 250ms;
  html.no-touch &:hover, &:active{ transform: rotate(24deg); }
}

@media screen and(min-width: $mid-low-breakpoint){
  .icons{ margin: 0 3px; }
}

@media screen and (min-width: $mid-high-breakpoint){
  .header{
    .fa{
      font-size: 1.8em;
      &.fa-file-text{
        top: 6%;
        font-size: 1.45em;
      }
    }
  }
}
