@import "mixins.scss";
@import "global/_style_elements.scss";
@import "global/_breakpoints.scss";

$holder-color: #ddd;
$holder-accent: rgba(0, 0, 0, 0.1);

.portfolio-page{
  .bg-fill{ background-color: $base-bg; }
  h2.project{
    font-family: $bodytext;
    font-weight: 200;
    font-size: 1.3em;
    margin: 3px 0 0;
    line-height: 1.3em;
  }

  .content-header{
    text-align: center;
    padding-bottom: 16px;
    .title{
      text-transform: uppercase;
    }
    .link{ display: block; }
  }

  .image{
    &:not(.styled){
      text-align: center;
      img{ max-width: 50%; }
    }
    &.styled{
      img{ width: 100%; }
    }
  }

  .content-info{
    display: flex;
    flex-wrap: wrap;
    p{ margin-top: 0; }
  }

  .caption{
    text-align: center;
    margin-top: 10px;
  }
}


@media screen and (min-width: 570px){
  .portfolio-page{
    h2.project{ font-size: 1.2em; margin: 0; }
  }
}

@media screen and (min-width: $mid-high-breakpoint){
  .portfolio-page{
    h2.project{ font-size: 2em; }

    .content-header{ padding: 20px 0 30px; }

    .content-info{
      @include max-cap;
      .desc{
        flex: 1 1 80%;
        padding-right: 40px;
        box-sizing: border-box;
      }
      .tools-container{ flex: 1 1 20%; }
    }

    .styled{
      margin: 60px;
      .image-wrapper{
        max-width: 750px;
        margin: 0 auto;
        font-size: 0;
        .caption{ font-size: 1rem; }
      }
    }

    .browser{
      .image-wrapper{
        $rounded: 5px;

        position: relative;
        border: 1px solid $holder-color;
        border-top-width: 30px;
        border-radius: $rounded;
        box-sizing: border-box;
        &:before, &:after{
          content: "";
          position: absolute;
        }
        &:before{
          width: 61px;
          top: -25px;
          height: 20px;
          left: 7px;
          background: radial-gradient($holder-accent 48%, transparent 16%);
          background-size: 20px 20px;
        }
        &:after{
          width: 60%;
          height: 20px;
          top: -25px;
          left: 76px;
          background-color: #fff;
          border-radius: 8px;
        }
        img{
          border-radius: 0 0 $rounded $rounded;
        }
      }
    }

    .ipad{
      $thickness: 60px;

      position: relative;
      border-radius: 50px;
      border: $thickness solid $holder-color;
      background-color: $holder-color;
      &:before, &:after{
        content: "";
        position: absolute;
        top: 50%;
        border-radius: 50%;
        background-color: $holder-accent;
        transform: translateY(-50%);
      }
      &:before{
        $size: 14px;

        left: -(($size/2) + ($thickness/2));
        width: $size;
        height: $size;
      }
      &:after{
        $size: 40px;

        right: -(($size/2) + ($thickness/2));
        width: $size;
        height: $size;
        border: 2px solid lighten($holder-accent, 30%);
        box-sizing: border-box;
      }
      img{ border-radius: 5px; }
    }
  }
}
