@import "../../assets/styles/global/_breakpoints";
@import "../../assets/styles/global/_style_elements";

$holder-color: #ddd;
$holder-accent: rgba(0, 0, 0, 0.1);

@mixin set-aspect($aspect){
  overflow: hidden;
  .aspect{
    position: relative;
    padding-top: $aspect;
    img, video{
      position: absolute;
      top: 0;
      object-fit: cover;
      object-position: top;
    }
    video{ height: 100%; }
  }
}

@mixin inline-image{
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
}

.detail{
  min-height: calc(100vh - 40px - 53px);
  padding-top: $nav-height;
  background-color: rgba(#fff, 0.8);
  h2.project{
    font-weight: 200;
    font-size: 1.3em;
    margin: 3px 0 0;
    line-height: 1.3em;
  }

  video {
    &:focus {
      outline: none;
    }
  }
  .content-header{
    text-align: center;
    padding-bottom: 16px;
    .project.title{ display: block; }
  }

  .content-container{
    font-size: 0;
    .content-header, .content-info, .content{
      font-size: 1rem;
    }
  }

  .content{
    max-width: $wide-breakpoint;
    margin: 0 auto;
    &:not(.styled){
      text-align: center;
    }
    &.styled{
      img, video{ width: 100%; }
    }

    &.inline{
      &.half-mobile{
        width: percentage(1/2);
        @include inline-image;
      }
    }
    &:last-of-type .content-wrapper{
      margin-bottom: 0 !important; // override margin adjustments
      padding-bottom: 2em; // override margin adjustments
    }
    .image{ margin: 0 auto; }
    .content-wrapper{
      margin: 36px 0;
    }
  }

  .content-info{
    display: flex;
    flex-wrap: wrap;
    a {
      color: $day-accent-text;
      &:after {
        background-color: $day-accent-text;
      }
    }
    p{ margin-top: 0; }
  }

  .caption{
    text-align: center;
    p{ font-size: inherit; }
  }

  .tools-container{
    .heading{ margin-bottom: 10px; }
    li{ margin-bottom: 6px; }
  }
}


@media screen and (min-width: 570px){
  .detail{
    h2.project{ font-size: 1.2em; margin: 0; }
  }
}

@media screen and (max-width: $mid-high-breakpoint - 1px){
  .detail{
    .content .image{
      max-height: 600px;
      overflow: hidden;
    }
    .content-info{
      padding-bottom: 20px;
      border-bottom: $border-default;
    }
    .desc + .tools-container{
      margin-top: 10px;
    }
    .tools-container{
      width: 100%;
      text-align: center;
      li{
        display: inline-block;
        &:not(:last-child){ margin-right: 8px; }
      }
    }
  }
}

@media screen and (min-width: $mid-high-breakpoint){
  .detail{
    h2.project{ font-size: 2em; }

    .content-header{ padding: 20px 0 30px; }

    .content-info{
      @include max-cap;
      .desc{
        flex: 1 1 80%;
        padding-right: 40px;
        box-sizing: border-box;
      }
      .tools-container{ flex: 1 1 20%; }
    }

    .content{
      &:not(.styled):not(.inline){
        img{ max-width: 50%; }
      }
      &.inline{
        @include inline-image;
        &.thirds{
          width: percentage(1/3);
        }
        &.fourth{
          width: 25%;
        }
      }
      &.styled{
        .content-wrapper{
          margin: 80px  0;
        }
        .image-wrapper{
          max-width: 750px;
          margin: 0 auto;
          font-size: 0;
          .caption{ font-size: 1rem; }
        }
      }
    }

    .browser{
      .image-wrapper{
        $rounded: 5px;

        position: relative;
        border: 1px solid $holder-color;
        border-top-width: 30px;
        border-radius: $rounded;
        box-sizing: border-box;
        &:before, &:after{
          content: "";
          position: absolute;
        }
        &:before{
          width: 61px;
          top: -25px;
          height: 20px;
          left: 7px;
          background: radial-gradient($holder-accent 48%, transparent 16%);
          background-size: 20px 20px;
        }
        &:after{
          width: 60%;
          height: 20px;
          top: -25px;
          left: 76px;
          background-color: #fff;
          border-radius: 8px;
        }
        img{
          border-radius: 0 0 $rounded $rounded;
        }
      }
      &.set-aspect{
        @include set-aspect(percentage(9/16));
        .image-wrapper .aspect{ overflow-y: auto; }
      }
    }

    .device{
      $thickness: 60px;
      .image-wrapper{
        position: relative;
        border-radius: 50px;
        border: $thickness solid $holder-color;
        background-color: $holder-color;
        box-sizing: border-box;
        &:before, &:after{
          content: "";
          position: absolute;
          border-radius: 50%;
          z-index: 1;
          background-color: $holder-accent;
        }
        &:after{
          border: 2px solid lighten($holder-accent, 30%);
          box-sizing: border-box;
        }
        img, video{
          border-radius: 3px;
        }
      }

      &.ipad .image-wrapper{
        &:before, &:after{
          top: 50%;
          transform: translateY(-50%);
        }
        &:before{
          $size: 14px;

          left: -(($size/2) + ($thickness/2));
          width: $size;
          height: $size;
        }
        &:after{
          $size: 40px;

          right: -(($size/2) + ($thickness/2));
          width: $size;
          height: $size;
        }
      }

      &.iphone{
        @include set-aspect(percentage(16/9));
        .image-wrapper{
          $side-width: 20px;

          max-width: 280px;
          border-radius: 30px;
          border-left-width: $side-width;
          border-right-width: $side-width;
          &:before, &:after{
            left: 50%;
            transform: translateX(-50%);
          }
          &:before{
            $size: 8px;

            top: -(($size/2) + ($thickness/2));
            width: $size;
            height: $size;
          }
          &:after{
            $size: 40px;

            bottom: -(($size/2) + ($thickness/2));
            width: $size;
            height: $size;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $wide-breakpoint - 1px){
  .detail .caption{ margin-top: 16px; }
}

@media screen and (min-width: $wide-breakpoint){
  .detail{
    .content.has-caption{
      $caption-offset: 36px;

      &:not(.image-right){
        .caption{ padding-left: $caption-offset; }
      }
      &.image-right{
        .image{ order: 2; }
        .caption{
          order: 1;
          padding-right: $caption-offset;
        }
      }
      &.set-aspect.browser .image{
        min-width: 750px;
      }
      &.iphone{
        .content-wrapper{
          max-width: 750px;
          margin-left: auto;
          margin-right: auto;
        }
        .caption{
          flex: 1 1 5%;
        }
      }
      .caption{
        flex: 1 1 32%;
        text-align: left;
        box-sizing: border-box;
      }
    }
    .content-wrapper{
      display: flex;
      .image{
        flex: 1 1 auto;
      }
    }
  }
}
