@import "../../assets/styles/global/_breakpoints";
@import "../../assets/styles/global/_style_elements";

.detail{
  min-height: calc(100vh - 40px - 53px);
  padding-top: $nav-height;
  background-color: rgba(#fff, 0.8);
  h2.project{
    font-weight: 200;
    font-size: 1.3em;
    margin: 3px 0 0;
    line-height: 1.3em;
  }

  .content-header{
    text-align: center;
    padding-bottom: 16px;
    .project.title{ display: block; }
  }

  .content-container{
    font-size: 0;
    .content-header, .content-info {
      font-size: 1rem;
    }
  }

  .content-info{
    display: flex;
    flex-wrap: wrap;
    a {
      color: $day-accent-text;
      &:after {
        background-color: $day-accent-text;
      }
    }
    p{ margin-top: 0; }
  }

  .tools-container{
    .heading{ margin-bottom: 10px; }
    li{ margin-bottom: 6px; }
  }

  @media screen and (min-width: 570px){
    h2.project{ font-size: 1.2em; margin: 0; }
  }

  @media screen and (max-width: $mid-high-breakpoint - 1px){
    .content-info{
      padding-bottom: 20px;
      border-bottom: $border-default;
    }
    .desc + .tools-container{
      margin-top: 10px;
    }
    .tools-container{
      width: 100%;
      text-align: center;
      li{
        display: inline-block;
        &:not(:last-child){ margin-right: 8px; }
      }
    }
  }

  @media screen and (min-width: $mid-high-breakpoint){
    h2.project{ font-size: 2em; }

    .content-header{ padding: 20px 0 30px; }

    .content-info{
      @include max-cap;
      .desc{
        flex: 1 1 80%;
        padding-right: 40px;
        box-sizing: border-box;
      }
      .tools-container{ flex: 1 1 20%; }
    }
  }
}
