@import "../../assets/styles/global/_breakpoints";
@import "../../assets/styles/mixins/mixins";
@import "../../assets/styles/global/_style_elements";
@import "../../assets/styles/mixins/icon_sprite";

.connect {
  a {
    display: inline-block;
    & + a {
      margin-left: 1.5em;
    }
  }

  .icon{
    $size: 24px;

    @include icon-sprite('../assets/images/icons_connect', $size, 1, 5 2, $list: $connect-icons, $extension: svg, $skip-retina: true);
    display: inline-block;
    position: relative;
    opacity: 0.8;
    transition: transform 250ms, opacity 250ms;

    @include hover-focus-helper {
      transform: rotate(24deg);
      opacity: 1;
    }
  }

  @include mid-high-min {
    &.icons-large {
      $size: 32px;
      .icon {
        width: $size;
        height: $size;
      }
    }
  }
}
