{% extends "layouts/default.html" %}

{% set page_subtitle = "Visual &amp; Web Development" %}

{% set body_classes = "home" %}

{% set main_classes = "port" %}

{% set skills = {
    skills: [
      {
        title: "Languages / Frameworks",
        items: [
          "HTML",
          "CSS",
          "Sass",
          "JavaScript",
          "jQuery",
          "Ruby",
          "Mustache",
          "Nunjucks",
          "Backbone",
          "Gulp",
          "Yeoman",
          "npm",
          "Social APIs",
          "Git"
        ]
      },
      {
        title: "UX & Design",
        items: [
          "Rapid Prototyping",
          "IA/UX",
          "Wireframes",
          "Responsive Design",
          "Graphic Design",
          "Illustrator",
          "Photoshop",
          "InDesign",
          "Painting",
          "Drawing & Illustration"
        ]
      }
    ]
  }
%}

{% block content %}
  <a name="top"></a>

  <div class="content-container header fill-screen skip-padding">
    <div class="content">
    {% set header_classes = "home" %}
    {% include "includes/heading.html" %}
    </div>

    <div class="arrow"></div>
  </div>

  <div class="content-container work skip-padding">
    {% include "includes/portfolio.html" %}
  </div>


  <div class="skills content-container">
    <div class="content-wrapper">
      <div class="section-wrapper">
        {% for subsection in skills.skills %}
          <div class="section">
            <h5>{{subsection.title}}</h5>
            <div class="items">
              {% for skill in subsection.items %}
              <p>{{skill}}</p>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="about content-container fill-screen">
    <div class="content">
      <p>I made my debut as an artist with "Thanksgiving is Yummy" (Crayola on loose leaf 8.5" by 11"), featured in the kindergarten parent newsletter. This marked the dawn of my creative exploits, which evenutally lead to receiving my BA in Painting and Design from USC's Roski School of Fine Arts.</p>
      <p>My career hopped in a natural progression from design into UI &amp; UX, and I eventually built up my rapid prototyping skillset to lead to my current position in web development as a Sr. Web Application Developer at Disney Interactive.</p>
      <p>As a developer, I translate my passion for art and design into clean, responsive code. Daily languages include Javascript, Ruby, HTML, CSS, and libraries including Backbone, Underscore, Nunjucks, and Sass.</p>
      <p> When I'm not tinkering with code, you can find me doting on my pet rabbit, or wandering the mountains in pursuit of the Milky Way.</p>
    </div>
  </div>
{% endblock %}
