$fallbacks: Helvetica, Arial, sans-serif;
$headertext: 'KingBasil', $fallbacks;
$bodytext: 'Muli', $fallbacks;
$accent: #25A8DF;

$base-bg: #fafafa;

$light-text: rgba(#fff, 0.9);
$dark-text: rgba(#666, 0.9);

$day-base: #AAE8FF;
$day-accent: #F7EFD9;
$day-text: $dark-text;
$day-thumb: #bee7f1;

$afternoon-base: #4ebcf1;
$afternoon-accent: #D6F5FF;
$afternoon-thumb: #9adaf7;

$evening-base: #003482;
$evening-accent: #FF9881;
$evening-thumb: #4f5382;

$night-base: #060421;
$night-accent: #0448AF;
$night-thumb: #032872;
$night-text: $light-text;

$midnight-base: #0A0013;
$midnight-accent: #060A73;
$midnight-thumb: #10045f;

// constants
$side-padding: 20px;

$max-cap: 900px;
@mixin max-cap{
  max-width: $max-cap;
  margin: 0 auto;
}
