@import "../../assets/styles/global/_breakpoints.scss";
@import "../../assets/styles/global/_style_elements.scss";
@import "../../assets/styles/mixins/mixins.scss";

.browse {
  .content-container {
    position: relative;
    &:not(.skip-padding) { padding: $side-padding; }
    @include container-alternating-color($base-bg, $base: 0%);

    &.skills{
      padding-top: $side-padding + 10px;
      .content-wrapper{ @include max-cap; }
      .section-wrapper{
        display: flex;
        justify-content: space-around;
        .section{ flex: 1 1; }
      }
    }
  }


  .arrow{
    $arrow-offset: 40px;
    $arrow-width: 30px;

    position: absolute;
    left: 50%;
    top: calc(100vh - #{$arrow-offset});
    width: $arrow-width;
    height: $arrow-width;
    opacity: 0.3;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/arrow.svg');
    transform: translateX(-50%);
    transition: opacity 300ms;
    @include hover-focus-helper { opacity: 1; }
  }

  @include mid-high-min {
    .content-container {
      &.header .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.fill-screen {
        $padding-offset: ($side-padding * 2);

        height: 100vh;
        &:not(.skip-padding) {
          height: calc(100vh - #{$padding-offset});
        }
      }

      &.skills{
        .section{
          $item-size: percentage(1/3);

          &:first-child{ padding-right: $side-padding; }
          &:last-child{ padding-left: $side-padding; }
          h5{
            text-align: center;
          }
          .items{
            display: flex;
            flex-wrap: wrap;
          }
          p{
            flex: 1 1 $item-size;
            max-width: $item-size;
            padding-right: 16px;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  @include mid-high-max-min-height {
    .content-container.fill-screen {
      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.header .content {
        top: 45%;
      }
    }
  }
}

@keyframes gradient-fade {
  0% { background-position: 0% 51%; }
  33% { background-position: 100% 0%; }
  66% { background-position: 100% 50%; }
  100% { background-position: 0% 100%; }
}
