@import "../../assets/styles/global/_breakpoints.scss";
@import "../../assets/styles/global/_style_elements.scss";
@import "../../assets/styles/mixins/mixins.scss";

.browse {
  .content-container {
    position: relative;
    &:not(.skip-padding) { padding: $side-padding; }
    @include container-alternating-color($base-bg, $base: 0%);
  }

  @include mid-high-min {
    .content-container {
      &.header .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.fill-screen {
        $padding-offset: ($side-padding * 2);

        height: 100vh;
        &:not(.skip-padding) {
          height: calc(100vh - #{$padding-offset});
        }
      }
    }
  }

  @include mid-high-max-min-height {
    .content-container.fill-screen {
      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.header .content {
        top: 45%;
      }
    }
  }
}

@keyframes gradient-fade {
  0% { background-position: 0% 51%; }
  33% { background-position: 100% 0%; }
  66% { background-position: 100% 50%; }
  100% { background-position: 0% 100%; }
}
