{% extends "layouts/default.html" %}

{% set body_classes = "portfolio-page nav-show" %}

{% set role_label="Role" %}
{% set tools_label="Tools" %}

{% block content %}
  <div class="content-container">
    <div class="content-header">
      <h2 class="project title">{{portfolio_item.name}}</h2>
      {% if portfolio_item.link.title %}
        {% if portfolio_item.link.href %}
        <a class="link skip-link-style" href="{{portfolio_item.link.href}}">
        {% endif %}
        <span{% if not portfolio_item.link.href %} class="link"{% endif %}>{{portfolio_item.link.title}}<span>
        {% if portfolio_item.link.title %}
          </a>
        {% endif %}
      {% endif %}
    </div>

    <div class="content-info">
      <div class="desc">
        {{portfolio_item.description | safe}}
      </div>

      <div class="tools-container">
        {% if portfolio_item.role_desc %}
        <h6 class="heading role">{{role_label}}</h6>
        <p>{{portfolio_item.role_desc | safe}}</p>
        {% endif %}

        <h6 class="heading">{{tools_label}}</h6>
        {% if portfolio_item.tools %}
          <ul class="tools">
            {% for tool in portfolio_item.tools%}
              <li>{{tool}}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>

    <div class="images">
      {% if portfolio_item.images %}
        {% for image in portfolio_item.images %}
        <div class="content{%if image.classes%} {{image.classes}}{%endif%}{%if image.video%} has-video{%endif%}">
          <div class="content-wrapper">
            <div class="image">
              <div class="image-wrapper">
                <div class="aspect">
                {% if image.video %}
                  <video src="{{'images/' + portfolio_item.path + '/' + image.src}}"{% if image.video.controls %} controls {% endif %} data-paused="true" alt="{{image.alt}}"></video>
                {% else %}
                  <img src="{{'images/' + portfolio_item.path + '/' + image.src}}" alt="{{image.alt}}"/>
                {% endif %}
                </div>
              </div>
            </div>
            {% if image.caption%}
            <div class="caption">{{image.caption}}</div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
