@import "../../assets/styles/global/_breakpoints.scss";
@import "../../assets/styles/global/_style_elements.scss";
@import "../../assets/styles/mixins/mixins.scss";

footer {
  position: relative;
  text-align: center;
  border-top: 1px solid rgba(#fff, 0.08);
  .connect{
    display: flex;
  }
  .copyright{
    // padding-bottom: 10px;

    .date:before{
      content: attr(data-year);
    }
  }

  #top{
    position: relative;
    margin-bottom: 30px;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    transition: opacity 250ms 100ms, visibility 0ms 650ms;
    font-size: 1rem;
    @mixin hover-focus-helper {
      .top-text{
        opacity: 1;
      }
    }
  }

  .top-text{
    position: absolute;
    left: 50%;
    margin: 0;
    padding: 18px 0 4px;
    opacity: 0;
    transition: opacity 250ms;
    transform: translateX(-50%);
  }

  @include mid-high-max {
    #top{
      height: 24px;
      margin: 3px auto;
    }
    .top-text{ display: none !important; }
    .connect{
      justify-content: center;
      margin-bottom: 1em;
    }
  }

  @include mid-high-min {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    & > a{
      position: relative;
      order: 2;
    }

    .connect, .copyright, & > a{
      flex: 1 1;
    }
    .connect{
      order: 3;
      padding-right: $side-padding;
      justify-content: flex-end;
    }
    .copyright{
      order: 1;
      text-align: left;
      padding-left: $side-padding;
    }
  }
}
