{% set project = [
    {
      name: "Star Wars",
      link: "starwars",
      description: "Redesign of StarWars.com",
      main_image: {
        src: "images/starwars/sw_home.jpg"
      }
    },

    {
      name: "Disney.com",
      link: "disney",
      description: "Disney storytelling",
      main_image: {
        src: "images/dcom/dcom_cars.jpg"
      }
    },

    {
      name: "Disney Junior",
      link: "disney_junior",
      description: "Child-focused redesign of DisneyJunior.com",
      main_image: {
        src: "images/junior/devicescomp_junior.png"
      }
    },
    {
      name: "YayArt",
      link: "yayart",
      description: "Responsive redesign of e-commerce user-centric art website",
      main_image: {
        src: "images/yayart/devicescomp_yay.png"
      }
    },
    {
      name: "ApartmentList",
      link: "apartmentlist",
      description: "Illustrationed associated personas of 20 well-known urban neighborhoods",
      main_image: {
        src: "images/apt-list/AparmentList-Personas_delivery-04.png"
      }
    }
  ]
%}


{% for item in project %}
  <div class="content-item">
    {% if item.link %}
    <a href="{{item.link + '.html'}}" class="item" alt="{{item.name}}">
    {% else %}
    <div class="item">
    {% endif %}
      <div class="wrapper">
        <div class="thumb"></div>
        <div class="content-info" style="background-image: url({{item.main_image.src}});">
          <div class="text">
            <h2 class="project">{{item.name}}</h2>
            <div class="content-desc">{{item.description | safe}}</div>
          </div>
        </div>
      </div>
    {% if item.link %}
    </a>
    {% else %}
    </div>
    {% endif %}
  </div>
{% endfor %}
