{% set project = [
    {
      name: "CT Games",
      class: "ct_games",
      description: "HTML5 &amp Phaser-based games",
      main_image: {
        src: "ct/games/dory_five_thumb.jpg"
      }
    },
    {
      name: "Shop Disney",
      class: "shopdisney",
      description: "Redesign of DisneyStore.com",
      main_image: {
        src: "shop/shop_dev.jpg"
      }
    },
    {
      name: "Star Wars",
      class: "starwars",
      description: "Redesign of StarWars.com",
      main_image: {
        src: "starwars/sw_home.jpg"
      }
    },

    {
      name: "Disney.com",
      class: "disney",
      description: "Disney storytelling",
      main_image: {
        src: "dcom/dcom_cars.jpg"
      }
    },
    {
      name: "Disney Junior",
      class: "disney_junior",
      description: "Child-focused redesign of DisneyJunior.com",
      main_image: {
        src: "junior/devicescomp_junior.png"
      }
    },
    {
      name: "Creative Technology",
      class: "ct",
      description: "In-house division of DCPI dedicated to interactive experiences",
      main_image: {
        src: "ct/ct_hp.png"
      }
    },
    {
      name: "Coloring Book",
      class: "coloring",
      description: "SVG-based coloring book",
      main_image: {
        src: "coloring/coloring_cms.jpg"
      }
    },
    {
      name: "Disney Tumblr",
      class: "tumblr",
      description: "UGC Contests for movie premieres",
      main_image: {
        src: "tumblr/tumblr_alice.jpg"
      }
    },
    {
      name: "YayArt",
      class: "yayart",
      description: "Responsive redesign of e-commerce user-centric art website",
      main_image: {
        src: "yayart/devicescomp_yay.png"
      }
    },
    {
      name: "The Force Awakens",
      class: "tfa",
      description: "Takeover of Disney.com for movie premiere",
      main_image: {
        src: "tfa/sw_takeover.jpg"
      }
    },
    {
      name: "Playmation",
      class: "playmation",
      description: "Marketing site for Disney product",
      main_image: {
        src: "playmation/product_repulsor.jpg"
      }
    },
    {
      name: "ApartmentList",
      class: "apartmentlist",
      description: "Illustrated personas of 20 well-known urban neighborhoods",
      main_image: {
        src: "apt-list/AparmentList-Personas_delivery-04.png"
      }
    }
  ]
%}


{% for item in project %}
  <div class="content-item">
    {% if item.class %}
    <a href="{{item.class + '.html'}}" class="item" alt="{{item.name}}">
    {% else %}
    <div class="item">
    {% endif %}
      <div class="wrapper">
        <div class="thumb" style="background-image: url({{'images/icons/port_hp_icons_' + item.class + '.svg'}});">
        </div>
        <div class="content-info" style="background-image: url({{'images/' + item.main_image.src}});">
          <div class="text">
            <h2 class="project">{{item.name}}</h2>
            <div class="content-desc">{{item.description | safe}}</div>
          </div>
        </div>
      </div>
    {% if item.class %}
    </a>
    {% else %}
    </div>
    {% endif %}
  </div>
{% endfor %}
