{% set project = [
    {
      name: "Star Wars",
      class: "starwars",
      description: "Redesign of StarWars.com",
      main_image: {
        src: "starwars/sw_home.jpg"
      }
    },

    {
      name: "Disney.com",
      class: "disney",
      description: "Disney storytelling",
      main_image: {
        src: "dcom/dcom_cars.jpg"
      }
    },

    {
      name: "Disney Junior",
      class: "disney_junior",
      description: "Child-focused redesign of DisneyJunior.com",
      main_image: {
        src: "junior/devicescomp_junior.png"
      }
    },
    {
      name: "YayArt",
      class: "yayart",
      description: "Responsive redesign of e-commerce user-centric art website",
      main_image: {
        src: "yayart/devicescomp_yay.png"
      }
    },
    {
      name: "ApartmentList",
      class: "apartmentlist",
      description: "Illustrationed associated personas of 20 well-known urban neighborhoods",
      main_image: {
        src: "apt-list/AparmentList-Personas_delivery-04.png"
      }
    },
    {
      name: "Playmation",
      class: "playmation",
      description: "Marketing site for Disney product",
      main_image: {
        src: "playmation/product_repulsor.jpg"
      }
    },
    {
      name: "Disney Tumblr",
      class: "tumblr",
      description: "UGC Contests for movie premier",
      main_image: {
        src: "apt-list/AparmentList-Personas_delivery-04.png"
      }
    },
    {
      name: "Marvel Kids UK",
      class: "marvelkids",
      description: "UGC Contests for movie premier",
      main_image: {
        src: "apt-list/AparmentList-Personas_delivery-04.png"
      }
    },
    {
      name: "Creative Technology",
      class: "creativetech",
      description: "In-house division dedicated to interactive content and experiences",
      main_image: {
        src: "apt-list/AparmentList-Personas_delivery-04.png"
      }
    }
  ]
%}


{% for item in project %}
  <div class="content-item">
    {% if item.class %}
    <a href="{{item.class + '.html'}}" class="item" alt="{{item.name}}">
    {% else %}
    <div class="item">
    {% endif %}
      <div class="wrapper">
        <div class="thumb" style="background-image: url({{'images/icons/port_hp_icons_' + item.class + '.svg'}});">
        </div>
        <div class="content-info" style="background-image: url({{'images/' + item.main_image.src}});">
          <div class="text">
            <h2 class="project">{{item.name}}</h2>
            <div class="content-desc">{{item.description | safe}}</div>
          </div>
        </div>
      </div>
    {% if item.class %}
    </a>
    {% else %}
    </div>
    {% endif %}
  </div>
{% endfor %}
